<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/binary search tree/src/Inplace_conversion_of_Sorted_DLL_to_Balanced_BST/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Inplace_conversion_of_Sorted_DLL_to_Balanced_BST.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="binary search tree"/>
</launchConfiguration>
