<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dynemic programming/src/Maximum_Sum_Increasing_Subsequence/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Maximum_Sum_Increasing_Subsequence.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dynemic programming"/>
</launchConfiguration>
