<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/string/src/Given_a_number_as_a_string_find_the_number_of_contiguous_subsequences_which_recursively_add_up_to_9/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Given_a_number_as_a_string_find_the_number_of_contiguous_subsequences_which_recursively_add_up_to_9.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="string"/>
</launchConfiguration>
