<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary tree/src/Convert_an_arbitrary_Binary_Tree_to_a_tree_that_holds_Children_Sum_Property/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Convert_an_arbitrary_Binary_Tree_to_a_tree_that_holds_Children_Sum_Property.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary tree"/>
</launchConfiguration>
