<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Greedy Algorithms/src/Minimum_sum_of_two_numbers_formed_from_digits_of_an_array/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Minimum_sum_of_two_numbers_formed_from_digits_of_an_array.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Greedy Algorithms"/>
</launchConfiguration>
