<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/string/src/Recursively_remove_all_adjacent_duplicates/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Recursively_remove_all_adjacent_duplicates.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="string"/>
</launchConfiguration>
