<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary tree/src/Iterative_Postorder_Traversal_Set1_Using_Two_Stacks/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Iterative_Postorder_Traversal_Set1_Using_Two_Stacks.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary tree"/>
</launchConfiguration>
