<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/string/src/Find_the_smallest_window_in_a_string_containing_all_characters_of_another_string/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Find_the_smallest_window_in_a_string_containing_all_characters_of_another_string.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="string"/>
</launchConfiguration>
