<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary tree/src/Construct_Complete_BinaryTree_from_its_LinkedList_Representation/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Construct_Complete_BinaryTree_from_its_LinkedList_Representation.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary tree"/>
</launchConfiguration>
