<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/string/src/Find_number_of_times_a_string_occurs_as_a_subsequence_in_given_string/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Find_number_of_times_a_string_occurs_as_a_subsequence_in_given_string.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="string"/>
</launchConfiguration>
